day-weather-card {
    .mainDiv
    {
        width:90px;
        float:left;
        text-align: center;
        padding-left: 5px;
    }
    .normalText
    {
        color:white;
       
    }
    .temperatureText
    {
        color:white;
        font-size:20px ;
    }
}
