<ion-content padding class="mainContent">

  <div (swiperight)="swipeRight()">

    <ion-slides>

      <ion-slide>

        <div style="width: 100%;text-align: center;">

          <div style="width: 320px;float: left;text-align: center;">

            <div style="width: 240px;float: left;">
              <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)"
                style="width: 100%;float:left;height:44px;">
              </ion-searchbar>
            </div>


            <div style="width: 80px;float: left;">
              <button ion-button color="light" (click)="searchForCity()" style="width: 80px;height:39px;float: left;padding: 0px;margin:2px 0px 2px 0px">GO</button>
            </div>

          </div>

        </div>
        <div *ngIf="actualWeatherData" style="width:100%;" style="border-bottom: 4px solid rgba(0, 0, 0, .05);" >

          <central-weather-card [locationName]="actualWeather.name" [temperature]="actualWeather.main.temp" [weatherDes]="actualWeather.weather[0].description"
            [windSpeed]="actualWeather.wind.speed" [humidity]="actualWeather.main.humidity" [icon]="actualWeather.weather[0].icon" style="margin-top: 50px;"></central-weather-card>


        </div>



      </ion-slide>


    </ion-slides>

  </div>

  <div *ngIf="isForecastData">
    <!-- hour forecast   [icon]="currentWeather[0].icon"  icon="01d" -->
    <ion-scroll scrollX="true" style="width: 100%; height: 170px;border-bottom: 4px solid rgba(0, 0, 0, .05)">
      <div style="width: 3700px; height: 120px;float: left;">
        <span *ngFor="let li of forecastWeather">
          <hour-weather-card [dateUnix]="li.dt" [temperature]="li.main.temp" [weatherDes]="li.weather[0].description" [icon]="li.weather[0].icon"></hour-weather-card>

        </span>

      </div>

    </ion-scroll>

    <ion-scroll scrollX="true" style="width: 100%; height: 170px;">
      <div style="width: 500px; height: 120px;float: left;">
        <span *ngFor="let li of forecast">

          <day-weather-card [dateUnix]="li.dt" [temperature]="li.main.temp" [weatherDes]="li.weather[0].description" [icon]="li.weather[0].icon"></day-weather-card>
        </span>
      </div>
    </ion-scroll>

  </div>
  <div *ngIf="notFound">
    City Not found please try again.
  </div>
</ion-content>