page-global-weather {
    ion-content
    {
        margin-top: 44px;
        background-color: blue;
    }
    .mainContent
    {
    background-color: lightblue;
    background-image: url('../assets/imgs/skybackground.png');
    }
}
