page-local-weather {
    .mainContent
    {
        background-color: lightblue;
        background-image: url('../assets/imgs/skybackground.png');
    }
    ion-content
    {
        margin-top: 44px;
      
    }
}
