<div class="mainDiv">

  <!--title-->
  <div class="cityTitle">

    {{locationName}}

  </div>



  <!--Grid for place the icon, temperature and temperature type icon-->
  <ion-grid class="mainGrid" >

    <ion-row justify-content-center>

      <ion-col align-self-center style="width: 160px;" col-45>

        <div>

          <img [src]="icon" style="width: 60px; height: auto;padding-top: 0px">

        </div>

      </ion-col>

      <ion-col col-60>

        <div class="temp" style="padding: 0px;margin: 0px;">

          {{temperature}}

        </div>

      </ion-col>

      <ion-col align-items-start style="padding: 20px,0px,0px,0px;margin-right:0px;" col-20>

        <div>

          <img [src]="tempTypeIcon" style="width: 20px; height: auto;padding-top: 0px">

        </div>

      </ion-col>

    </ion-row>

  </ion-grid>

  <!--other weather variables line by line-->
  <div class="bottomText">

    {{weatherDes}}

  </div>

  <div class="bottomText">

    Wind speed: {{windSpeed}}

  </div>

  <div class="bottomText">

    humidity: {{humidity}}

  </div>
  
</div>